/**
 * App styles
 */

@import "~desktop-css-starter";

$color-primary: #d6608e;

html {
  background: #343434;
  color: #fff;
  font-weight: 200;
}

h1 {
  font-size: 2rem;
  margin-top: 2rem;
  letter-spacing: .1rem;
  text-align: center;
}

form {
  margin-top: 3rem;
  text-align: center;
}

label {
  margin: 0 1rem;
}

button,
input {
  border: 0;
  border-radius: .25rem;
  height: 2rem;
}

input {
  padding: 0 .5rem;
  width: 10rem;

  &:focus {
    background: #eaeaea;
    transition: all .2s ease-in-out;
  }
}

button {
  background: $color-primary;
  color: #fff;
  margin: 0 1rem;
  padding: 0 2rem;
  transition: all .2s ease-in-out;

  &:hover {
    background: lighten($color-primary, 5);
  }

  &:active {
    background: darken($color-primary, 5);
  }
}

#ring-chart {
  margin-top: 2rem;
  height: 25rem;
  max-height: 90vw;
}

.result {
  margin: 2rem auto 0;
  max-width: 90vw;
  width: 35rem;

  input {
    width: 90%;
  }

  button {
    background: #f0f0f0;
    border-left: 1px solid #343434;
    color: #343434;
    line-height: 2rem;
    margin-left: 2%;
    margin-right: 0;
    padding: 0;
    width: 8%;
  }
}

footer {
  font-size: .875rem;
  margin-top: 2rem;
  opacity: .7;
  text-align: center;

  a {
    text-decoration: underline;
  }
}

@media (max-width: 640px) {

  html {
    font-size: .875rem;
  }

  h1 {
    font-size: 1.5rem;
    margin: 1.5rem 0;
  }

  form {
    margin-top: 1rem;
    padding: 0 1rem;
    text-align: left;
  }

  label {
    display: inline-block;
    margin: .5rem 0;
    width: 70%;

    input {
      width: 65%;
    }

    span {
      display: inline-block;
      padding-right: .5rem;
      text-align: right;
      width: 30%;
    }
  }

  input,
  button {
    margin: 0;
  }
}
